.login-container{
    width: 100%;
    height: 100vh;
    background: url('../../../assets/loginfondo.svg') no-repeat right top;
    background-size: 65%;
    main{
        display: grid;
        grid-template-rows: 1fr 65%;
    }
}
header{
    padding: 40px 20px 20px 20px;
    text-align: center;
    h1{
        font-family: 'Alfa Slab One', cursive;
        font-size: 62px;
        color:#323232;
    }
    .color-queen{
        color: #EF2626;
    }
}
.img-login{
    background-color: #EF2626;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img{
        width: 500px;
        height: 509px;
    }
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .login-form{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}
.div-imput{
    margin-bottom: 30px;
    position: relative;
    input{
        padding: 5px 30px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    span{
        position: absolute;
        top: 25%;
        left: 5px;
    }
}
