<section class="login-container">
    <header><h1>Burgen<span class="color-queen">Queen</span></h1></header>
    <main>
    <section class="img-login">
        <img src="../../../assets/loginburger.svg" alt="">
    </section>
    <section class="form-container">
        <h3>Welcome esclavo</h3>
        <form action="" class="login-form">
            <div class="div-imput">
                <span class="material-icons">person_outline</span>                    
                <input type="text" placeholder="UserName">
            </div>
            <div class="div-imput">
                <span class="material-icons">lock</span>
                <input type="password" placeholder="Password">
            </div>
            <button class="log-in" type="submit" [routerLink]="['/menuprincipal']" routerLinkActive="router-link-active" >LOGIN</button>
        </form>
    </section>
    </main>
</section>