<section class="login-container">
    <header><h1>Burgen<span class="color-queen">Queen</span></h1></header>
    <main>
    <section class="img-login">
        <img src="../../../assets/loginburger.svg" alt="">
    </section>
    <section class="form-container">
        <form action="" class="login-form">
            <div>
                <input type="text" placeholder="UserName">
            </div>
            <div>
                <input type="password" placeholder="Password">
            </div>
            <button type="submit">LOGIN</button>
        </form>
    </section>
    </main>
</section>