<div class="table-staff margin-bt">
    <table class="table">
      <thead>
        <tr class="titles">
          <th class="num">N°</th>
          <th>Email</th>
          <th>Password</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>katty@gmail.com</td>
          <td>123456789</td>
          <td>Admin</td>
          <td class="edit-delete">
            <button class="edit"> <!-- modal -->
              Editar</button>
            <button class="delete"> <!-- modal -->
              Eliminar
            </button>
          </td>
        </tr>
        <!-- adicionales usar for -->
        <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>katty@gmail.com</td>
            <td>123456789</td>
            <td>Admin</td>
            <td class="edit-delete">
              <button class="edit"> <!-- modal -->
                Editar</button>
              <button class="delete"> <!-- modal -->
                Eliminar
              </button>
            </td>
          </tr>
          <!-- solo son ejemplos los de arriba -->
      </tbody>
    </table>
  </div>
  <div class="app">
    <!-- modal -->
  </div>


