$font1: 'Alfa Slab One', cursive;
$font2: 'Poppins', sans-serif;
nav{
    display: flex;
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: #323232;
    h1{
        color: blanchedalmond;
    }
    a{
        color: white;
        display: block;
        text-decoration: none;
        font-family: $font2;
        font-size: 18px;
    }
    .list-nav{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        text-align: right;
        list-style-type: none;
        width: 100%;
        list-style-type: none;
        
    }
    .div-burgen{
        background-color: #FFC839;
        padding: 5px 10px;
        h1{
            font-family: $font1;
            font-size: 35px;
            color:#323232;
        }
        .color-queen{
            color: #EF2626;
        }
    }
    }
