 <nav class="nav">
    <div class ='div-burgen'> 
      <h1>Burgen<span class="color-queen">Queen</span></h1>
          </div>
    <ul class="list-nav">
      <li routerLinkActive="active" >
        <a class="btn-nav" [routerLink]="['usercatalogoadmin']">Users</a>
      </li>
      <li routerLinkActive="active" >
        <a class="btn-nav"  [routerLink]="['productoscatalogoadmin']">Products</a>
      </li>
      <li routerLinkActive="active" >
        <a class="btn-nav" [routerLink]="['login']">Sign out</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line-burger"></div>
    </div>
  </nav>